*/bin
*/obj
*/Release
/.vs/config/applicationhost.config
*.AssemblyInfo.cs
*.pubxml
*.log
*.lock
*.ide
*.user
/*/*/obj/
/*/*/bin/
/*/*/*/obj/
/*/*/*/bin/
/*/*/obj/*/*/*.cs
/.vs/Anno/lut
/StudentWork.sln.DotSettings.user
/.vs/StudentWork/DesignTimeBuild
/.vs/StudentWork/v16
/*/*/*/*/obj
/*/*/*/*/bin
/.vs/StudentWork/config/applicationhost.config
/.vs/StudentWork/DesignTimeBuild/.dtbcache
/StudentWork/.config/dotnet-tools.json
