*/bin
*/obj
*/Release
/.vs/config/applicationhost.config
*.AssemblyInfo.cs
*.pubxml
*.log
*.lock
*.ide
*.user
/*/*/obj/
/*/*/bin/
/*/*/*/obj/
/*/*/*/bin/
/*/*/obj/*/*/*.cs
/.vs/Anno/lut
/Viper.sln.DotSettings.user
/.vs/Viper/DesignTimeBuild
/.vs/SViper/v16
/*/*/*/*/obj
/*/*/*/*/bin
/.vs/Viper/config/applicationhost.config
/.vs/Viper/DesignTimeBuild/.dtbcache
/Viper/.config/dotnet-tools.json
