
@{
    ViewData["Title"] = "404";
}
<link href="~/css/error.css" rel="stylesheet" />
<div class="container">
    <h1 class="txtcenter">404</h1>
    <div class="txtcenter">
        <img src="~/img/404.jpg"/>
    </div>
    <h3 class="txtcenter">不好意思，你要看的页面我们没找到！</h3>
</div>

