<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="~/img/logo.jpg">
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="height:100%;">
        @RenderBody()
    </div>
</body>
</html>
