
@{
    ViewData["Title"] = "Error";
}
<link href="~/css/error.css" rel="stylesheet" />
<div class="container">
    <h1 class="txtcenter">500</h1>
    <div class="txtcenter">
        <img src="~/img/500.jpg"/>
    </div>
    <h3 class="txtcenter">@ViewBag.Msg</h3>
    <h3 class="txtcenter">你的问题，服务器解答不了！</h3>
</div>

