<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--0,0 第一位是 工作站，第二位数据中心
  （所有的 AnnoService 的 两位数不能重复例如不能存在【1,2】【1,2】）
  可以存在【1,2】【2,1】
  -->
  <IdWorker>0,0</IdWorker>
  <!--App名称-->
  <AppName>ViperService-01</AppName>
  <!--监听端口-->
  <Port>7011</Port>
  <!--权重-->
  <Weight>1</Weight>
  <!--功能 非Anno.Plugs  加入方式-->
  <FuncName></FuncName>
  <!--忽略的功能 Trace,Logic-->
  <IgnoreFuncName></IgnoreFuncName>
  <!--超时时间毫秒-->
  <TimeOut>20000</TimeOut>
  <!--注册到的目标-->
  <Ts Ip="127.0.0.1" Port="7010"/>
  <IocDll>
    <!-- IOC 仓储--><!--
    <Assembly>Anno.Repository</Assembly>
    --><!-- 领域--><!--
    <Assembly>Anno.Domain</Assembly>
    --><!-- 查询服务--><!--
    <Assembly>Anno.QueryServices</Assembly>
    --><!--事件Handler--><!--
    <Assembly>Anno.Command.Handler</Assembly>-->
  </IocDll>
  <appSettings>
    <!-- 数据库连接字符串 Mysql-->
    <add key="ConnStr" value="server=127.0.0.1;database=viper;uid=bif;pwd=123456;SslMode=None;"/>
    <!--
    redisConn Redis 连接字符串 127.0.0.1:6379,abortConnect=false,allowAdmin =true,keepAlive=180
    redisPrefix Key 前缀 Anno:
    redisExpiryDate Key 有效期  单位（分钟） 20
    redisSwitch 是否开启数据库 false 不开启 false
    -->
    <add key="redisConn" value=""/>
    <add key="redisPrefix" value="SW:"/>
    <add key="redisExpiryDate" value="20"/>
    <add key="redisSwitch" value="false"/>
  </appSettings>
</configuration>
