
@{
    ViewData["Title"] = "Viper智能自由（Viper）";
}

@*<script src="~/js/jquery.min.js"></script>*@
<script src="https://cdn.jsdelivr.net/npm/jquery"></script>
<script src="~/js/base.js"></script>


<!-- 先引入 Vue -->
@*<script src="~/js/vue.min.js"></script>*@
<!-- 引入组件库 -->
<!--<script src="~/js/element-ui-index.js"></script>-->
<!-- 引入样式 -->
<!--<link href="~/css/element-ui-index.css" rel="stylesheet" />-->
<!-- 生产环境版本，优化了尺寸和速度 -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<div id="app" style="height:100%;">
    <el-container>
        <el-container>
            <el-aside style="background-color: #545c64;" v-bind:style="{width:menumWidth}">
                <div :class="{pc_menum:!isMobile,mobile_menum:isMobile}">
                    <el-menu :class="'el-menu'+menumWidth" :collapse="isCollapse" background-color="#001529" text-color="#fff" active-text-color="#ffd04b">
                        <el-radio-group v-model="isCollapse" v-bind:style="{width:menumWidth}" style="height: 60px; background-color: #002140; text-align: center;">
                            <img src="~/img/logo.jpg" v-on:click="changeisCollapse" style="width: 58px; height: 58px; border: 2px; border-radius: 22.5px; -moz-border-radius: 25px; vertical-align: middle;" />
                            <span v-show="!isCollapse" style="font-size: 14px; color: white; font-weight: bold;margin-left: 3px; vertical-align: middle;">Viper&Anno</span>
                        </el-radio-group>
                        <el-submenu v-for="item,index in menuroot" :index="item.id">
                            <template slot="title">
                                <i :class="(item.icon==null||item.icon=='')?'el-icon-folder':item.icon"></i>
                                <span slot="title">{{item.fname}}</span>
                            </template>
                            <el-menu-tree :item="item"></el-menu-tree>
                        </el-submenu>
                    </el-menu>
                </div>
            </el-aside>
            <el-main style="width: 100%; height: 100%; top: 0px; left: 0px;">
                <el-header>
                    <div v-on:click="changeisCollapse" style="width: 1px; float: left; cursor: pointer;">
                        <i :class="{'el-icon-s-fold':isCollapse==false,'el-icon-s-unfold':isCollapse}"></i>
                    </div>
                    <a v-show="(_isMobile&&isCollapse)||(!_isMobile)" style="cursor: pointer; text-decoration: underline; float:left;margin-left:40px;color:#3e3434;" target="_blank" href="https://duyanming.github.io/">官方文档</a>
                    <div uInfo style="height: 60px; float: right;">
                        <a style="cursor: pointer; text-decoration: underline;" v-on:click="openUserCenter">{{profile.name}}({{profile.account}})</a>
                        <a style="cursor: pointer; text-decoration: underline; margin-left: 3px;" v-on:click="exitUser">退出</a>
                    </div>
                </el-header>
                <el-container>
                    <el-tabs v-model="activeName" @@tab-remove="removeTab" style="width:100%">
                        <el-tab-pane v-for="(item, index) in tabs"
                                     :key="item.name"
                                     :label="item.name"
                                     :name="item.name"
                                     :closable="item.closable">
                            <el-container v-loading="item.loading">
                                <iframe :id="item.id" @@load="tabOnLoad" frameborder="0" :src="item.src" style="width: 100%; height: calc(100% - 100px);">
                                </iframe>
                            </el-container>
                        </el-tab-pane>
                    </el-tabs>
                </el-container>
            </el-main>
        </el-container>
    </el-container>

</div>
<script>
    if (bif.input.profile === undefined || localStorage.profile === undefined) {
        window.location.href = "/Home/Login";
    }
    var _isCollapse = false, _isMobile = false, _menumWidth = "200px";
    if (isMobile()) {
        _isCollapse = true;
        _isMobile = true;
        _menumWidth = "64px";
    }
    Vue.config.devtools = true;
    Vue.component('el-menu-tree', {
        name: "el-menu-tree",
        template: "<div>"
            + ' <el-menu-item   v-for="(subitem,iindex) in item.children" :index="subitem.id" @@click="vm.openMenuItem(subitem)">'
            + '     <i :class="(subitem.icon==null||subitem.icon==\'\')?\'el-icon-notebook-1\':subitem.icon"></i>'
            + '     <span slot="title">{{subitem.fname}}</span>'
            + ' </el-menu-item>'
            + ' <el-submenu v-for="(subitem,iindex) in item.childrenDir" :index="subitem.id">'
            + '     <template slot="title">'
            + '         <i :class="(subitem.icon==null||subitem.icon==\'\')?\'el-icon-folder\':subitem.icon"></i>'
            + '         <span slot="title">{{subitem.fname}}</span>'
            +'      </template>'
            + '     <el-menu-tree :item="subitem"></el-menu-tree>'
            + '</el-submenu>'
            + '</div>',
        props: ["item"]
    });
    var vm = new Vue({
        el: '#app',
        data: {
            activeName:"Dashboard",
            isCollapse: _isCollapse,
            isMobile: _isMobile,
            menumWidth: _menumWidth,
            profile: JSON.parse(localStorage.profile),
            menuroot: [],
            tabs: [
                { id: "dashboard", name: "Dashboard", closable:false, src: "html/welcome.html", loading:false}
            ]
        }
        , created: function () {//用于数据初始化
            var that = this;
            if (bif.input.profile === undefined || localStorage.profile === undefined) {
                window.location.href = "/Home/Login";
            }
            var input = bif.getInput();
            input.method = "GetUsrFc";
            input.router = "Platform";
            input.channel = "Anno.Plugs.Logic";
            bif.ajaxpara.async = false;
            bif.process(input, function (data) {
                that.menuroot = data.outputData;
                that.getFunc();
            }, function (data) {
                if (!data.status) {
                    localStorage.clear();
                    window.location.href = "/Home/Login";
                }
            });
            bif.ajaxpara.async = true;
        },
        methods: {
            removeTab(targetName) {
                var that = this;
                let tabs = that.tabs;
                let activeName = that.activeName;
                if (activeName === targetName) {
                    tabs.forEach((tab, index) => {
                        if (tab.name === targetName) {
                            let nextTab = tabs[index + 1] || tabs[index - 1];
                            if (nextTab) {
                                activeName = nextTab.name;
                            }
                        }
                    });
                }
                that.activeName = activeName;
                that.tabs = tabs.filter(tab => tab.name !== targetName);
                if (that.tabs.length === 1) {
                    that.tabs[0].closable = false;
                } else {
                    for (var i = 0; i < that.tabs.length; i++) {
                        that.tabs[i].closable = true;
                    }
                }
            },
            changeisCollapse: function () {
                var that = this;
                that.isCollapse = (that.isCollapse == false);
                if (that.isCollapse === true) {
                    that.menumWidth = "64px";
                } else {
                    that.menumWidth = "200px";
                }
            },
            tabOnLoad: function (ev) {
                var id = ev.srcElement.id;
                var that = this;
                for (var i = 0; i < that.tabs.length; i++) {
                    if (that.tabs[i].id === id) {
                        that.tabs[i].loading = false;
                    }
                }
            },
            openMenuItem: function (item) {
                var that = this;
                var alreadyOpen = false;
                for (var i = 0; i < that.tabs.length; i++) {
                    if (that.tabs[i].id === item.id) {
                        alreadyOpen = true;
                    }
                }
                if (alreadyOpen == true) {
                    that.activeName = item.fname;
                    return;
                }
                var tab = { id: "dashboard", name: "Dashboard", closable: true, src: "html/welcome.html", loading: true };
                tab.id = item.id;
                tab.name = item.fname;
                tab.src = item.furl;
                that.tabs.push(tab);
                that.activeName = item.fname;

                if (that.tabs.length === 1) {
                    that.tabs[0].closable = false;
                } else {
                    for (var i = 0; i < that.tabs.length; i++) {
                        that.tabs[i].closable = true;
                    }
                }
            },
            exitUser: function () {
                if (confirm("确定退出？")) {
                    localStorage.clear();
                    bif.input.profile = undefined;
                    bif.input.uname = undefined;
                    window.location.href = "/Home/Login";
                }
            },
            openUserCenter: function () {
                this.openMenuItem({ id: "pcenter", fname: "个人中心", furl: "html/pcenter.html"});
            },
            getFunc: function () {
                var that = this;
                var input = bif.getInput();
                input.channel = "Anno.Plugs.Logic";
                input.router = "Platform";
                input.method = "GetFunc";
                bif.ajaxpara.async = false;
                bif.process(input, function (data) {
                    that.InitMenuRoot(data.outputData);
                });
            },
            InitMenuRoot: function (sub_menu) {
                var that = this;
                for (var mr in this.menuroot) {
                    this.getChildren(that.menuroot[mr], sub_menu);
                }
            },
            getChildren: function (mr, sub_menu) {
                var children = [];
                var childrenDir = [];
                for (var index in sub_menu) {
                    let item = sub_menu[index];
                    if (item.pid == mr.id) {
                        this.getChildren(item, sub_menu);
                        if (item.children.length <= 0) {
                            children.push(item);
                        } else {
                            childrenDir.push(item);
                        }
                    }
                }
                mr.children = children;
                mr.childrenDir = childrenDir;
            }
        }
    });
    // 判断浏览器函数
    function isMobile() {
        if (window.navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i)) {
            return true;  // 移动端
        } else {
            return false;  // PC端
        }
    }
</script>
<style>
    .pc_menum {
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .mobile_menum {
        height: 100%;
        position: relative;
    }

    .el-tabs__header {
        padding-left: 20px;
    }

    .el-tabs__content {
        height: calc(100% - 13px);
    }

    .el-tab-pane {
        height: 100%;
    }

    html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
        margin: 0px 0px;
    }

    div[uInfo] {
        /*color: #E7E7E7;*/
        text-decoration: underline;
        margin-left: 10px;
    }

    .el-header {
        padding: 0 0px;
        background-color: #fff;
        color: #333;
        left: 20px;
        line-height: 60px;
        border-bottom: 1px solid #e6e6e6;
        /*box-shadow: 0px 5px 2px rgba(0,21,41,.35);*/
    }

    .el-aside {
        background-color: #D3DCE6;
        color: #333;
        /*overflow: hidden;*/
        /*width:200px;*/
        /*box-shadow: 2px 0 6px rgba(0,21,41,.35);*/
    }

    .el-submenu__icon-arrow {
        right: 40px;
    }

    .el-menu200px {
        border-right: solid 0px #e6e6e6;
        /*width: 220px;*/
        height: 100%;
        position: absolute;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .el-menu64px {
        border-right: solid 0px #e6e6e6;
        /*width: 220px;*/
        height: 100%;
    }

    .el-container {
        height: 100%;
    }

    .el-main {
        color: #333;
        text-align: center;
        padding: 0 0;
        overflow-y: hidden;
        /*margin-left: 8px;*/
    }
</style>

