
@{
    ViewData["Title"] = "Viper智能自由";
}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Viper|商业|智能|服务平台，专业的企业信息化建设平台" />
<meta name="description" content="企业信息化建设平台(Viper),帮助企业信息化建设，加快企业发展速度。我们以优质的服务、客户至上的理念为你提供专业的解决方案" />
<link href="~/css/index.css" rel="stylesheet" />
@*<script src="~/js/jquery.min.js"></script>*@
<script src="https://cdn.jsdelivr.net/npm/jquery"></script>
<script src="~/js/base.js"></script>
<script src="~/js/login.js"></script>
<script type="text/javascript">
    $(function () {
        var Account = $("input[name=Account]").val();
        if (Account == "") {
            $("input[name=Account]").focusin();
        } else {
            $("input[name=Pwd]").fadeIn();
        }
        $(document).keydown(function (event) {
            switch (event.which) {//回车提交
                case 13:
                    login();
                    break;
                default:
                    break;
            }
        });
        $("input[type=button]").click(login);

        $("input[name=Account]").focusin(MsgClear);
        $("input[name=Pwd]").focusin(MsgClear);
        function MsgClear() {
            $("#msg").text("");
        }
    });
</script>
<form id="login" method="post" action="/">
    <div class="top_zs">
        <div class="top_center">
            <div class="top_bt">
                <h1>Viper智能自由</h1>
            </div>

        </div>
    </div>
    <div class="ld-loading">
        <div class="ld-floa">
            <div class="ld-floa2">
                <span class="ld-d3-s2">
                    <b>
                        <a target="_blank" href="https://duyanming.github.io/">官方文档</a>
                    </b>
                </span>
                <div class="ld-d1">
                    <span class="ld-d1-s1">登录（Viper）</span>
                </div>
                <div class="del_clear"></div>
                <div class="ld-d2 ld-d1-nej">
                    <input type="text" name="Account" value="@(string.IsNullOrWhiteSpace(ViewBag.name)?"anno":ViewBag.name)" placeholder="手机/邮箱" class="ld-d2-s1" />
                </div>
                <div class="sign_tishi"></div>
                <div class="ld-d2 ld-d2-1">
                    <input type="password" name="Pwd" value="@(string.IsNullOrWhiteSpace(ViewBag.pwd)?"123456":ViewBag.pwd)" placeholder="密码" class="ld-d2-s1" />
                </div>
                <div class="sign_tishi">
                    <label id="msg"></label>
                </div>
                <div class="ld-d3">
                    <span class="ld-d3-s1">
                        <input type="checkbox" checked="checked" name="zd" value="true" />
                        <label>自动登录</label>
                    </span>
                    <span class="ld-d3-s2">
                        <a href="tencent://message/?uin=627790109:诺曼&Site=bif&Menu=yes">联系管理员</a>
                    </span>
                </div>
                <div class="ld-d4">
                    <input type="button" value="登录" class="ld-d4-s1" />
                </div>
            </div>
        </div>
    </div>
    <div class="Personal_bottom">
        <p><a href="#">首页</a> - <a href="#">关于我们</a> - <a href="#">联系我们</a> - <a href="#">法律声明</a> - <a href="#">积分规则</a></p>
        <p>Copyright &copy; 2016 Viper智能自由（Business intelligence freedom ）</p>
    </div>
</form>