<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--#lbs 配置-->
  <Port>7010</Port>
  <TimeOut>120000</TimeOut>
  <Servers>
 
  </Servers>
	<appSettings>
		<add key="DingTalkNotifyToken" value="24ba5a704e3a66d3c85bf11c6e317a20f3dac480093f95b630ae0ad49a13ecac"/>
	</appSettings>
</configuration>